.skills{
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    position: relative;
    overflow: hidden;
    padding:50px 11vw;
}

.skills .title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 96px;
    text-transform: uppercase;
    color:#1F203C;
}

.skills .skills-content{
    align-items: center;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-wrap:wrap
}

.skills .skill-item{
    width:100px;
    height:100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills .skill-item img{
    object-fit: fill;
    width:100%;
}


@media screen and (max-width:900px) {
    .skills .skills-content{
        justify-content: center;
    }
}



.other-skills{
    margin:20px 0 0 0;
    padding:0 30px;
}
.other-skills-content .other-skills-item{
    padding:10px;
    background:#CF1414;
    border-radius: 5px;
    display: inline-block;
    color:white;
    box-shadow: 0 0 2px #00000050;
    margin: 0 0 5px 0;
    font-size: 15px;
    font-weight: 500;
}